<!DOCTYPE html>
<html>
  <head>
    <% include ../templates/header %>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <!-- bootstrap container -->
  <div class="container">

  <body>

    <h1>Robots List</h1>
    <p>
      There are <%= robots.length %> robots
    </p>
    <table class="table table-hover">
      <tr>
        <th>
          Robot ID
        </th>
        <th>
          Name
        </th>
        <th>
          Description
        </th>
        <th>
          
        </th>
      </tr>
      <% robots.forEach(function(robot){ %>
      <tr>
        <th>
          <a href="/robots/<%= robot._id %>"><%= robot._id %></a>
        </th>
        <th>
          <%= robot.name %>
        </th>
        <th>
          <%= robot.description %>
        </th>
        <th>
          <a href="/robots/<%= robot._id %>">
            <button>Edit</button>
          </a>
        </th>
      </tr>
      <% }); %>
    </table>
    <a href="/robots/new">
      <button>+ New Robot</button>
    </a>
      <% include ../templates/footer %>
  </body>
  </div>
</html>
