<!DOCTYPE html>
<html>
  <head>
    <% include ../templates/header %>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>

    <p><%= robot.name %> - <%= robot.description %></p>

    <button id="delete">Delete</button>
    <a href="/robots/<%= robot._id %>/edit">
      <button>Edit</button>
    </a>

    <% include ../templates/footer %>
  </body>

  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script style="text/javascript">
    var deleteButt = document.getElementById("delete")
    const requestUrl = '<%= requestUrl %>'

    deleteButt.addEventListener("click", deleteBot, false)

    function deleteBot (event) {
      event.preventDefault();
      $.ajax({
        url: requestUrl,
        type: 'DELETE',
        success: function(result) {
            window.location = '/robots'
          }
      });

    };

  </script>

</html>
